body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    margin: 20px;
}

#main-header {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 15px;
}

#main-header h1 {
    margin: 0;
    font-weight: bold;
}

#main-header nav a {
    color: #ffffff;
}

.highlight {
    background-color: rgb(126, 129, 0);
    color: rgb(255, 217, 0);
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
}